Package: golang-github-danos-vyatta-cfg-dataplane-lib-go-dev
Source: vplane-config
Version: 2.101.5
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 31
Depends: golang-github-danos-vyatta-dataplane-protobuf-dev, golang-github-danos-vyatta-controller-protobuf-dev, golang-github-zeromq-goczmq-dev, golang-goprotobuf-dev
Section: contrib/net
Priority: optional
Description: Provides Go language bindings for the vplaned client API.
 Go bindings for the vplaned client API.
