Package: libvyatta-dataplane-perl
Source: vplane-config
Version: 2.101.5
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 51
Depends: libzmq-libzmq3-perl, vyatta-platform-util (>= 2.1)
Breaks: vplane-config (<< 2.10)
Replaces: vplane-config (<< 2.10)
Section: contrib/perl
Priority: optional
Description: Module for accessing dataplane for status commands.
 Perl module for accessing the dataplane for status commands.
