Package: libvplaned-client1
Source: vplane-config
Version: 2.101.5
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 58
Depends: libprotobuf17, libjansson4, libzmq5, libvyatta-dataplane-proto1, libvyatta-controller-proto1, libb64-0d, libc6 (>= 2.14), libgcc-s1 (>= 3.0), libstdc++6 (>= 13.1)
Section: contrib/net
Priority: optional
Multi-Arch: same
Description: Provides C++ language bindings for vplaned API.
 C++ client bindings for vplaned.
