Package: libvyatta-vplaned-perl
Source: vplane-config
Version: 2.101.5
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 28
Depends: libjson-perl, libzmq-libzmq3-perl, libgoogle-protocolbuffers-perl, libmime-base64-perl, libvyatta-dataplane-proto-support, libvyatta-controller-proto-support
Breaks: vplane-config (<< 2.17)
Replaces: vplane-config (<< 2.17)
Section: contrib/perl
Priority: optional
Description: Module for interacting with vplaned
 Perl module for connecting to the dataplane controller to send store
 commands.
